
.ab-body{
    display: grid;
    grid-template-columns: 6.6% 40% 6.6% 40% 6.6%;
    align-content:center;
    justify-content: center;
}
.bio{
    font-size: 2vw;
}

img{
    border-radius: 2%;
}
