
.ab-body{
    display: grid;
    grid-template-columns: 6.6% 40% 6.6% 40% 6.6%;
    align-content:center;
    justify-content: center;
}
.bio{
    font-size: 2vw;
}

img{
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
    
    border-radius: 2%;
}
