
.ab-body{
    display: grid;
    grid-template-columns: 15% 30% 10% 30% 15%;
    align-content:center;
    justify-content: center;
}
.bio{
    font-size: 2vw;
}

img{
   
    border-radius: 2%;
}
