img{
    border-radius: 2%;
}
.matrix-container{

    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 3vh;
    margin-bottom: 10px;
    text-align:justifyP
    
}


@media screen and (max-width: 641px) {
    .left-header {
        display: none;
        justify-content: center;
        width: 0%;
        margin-left: 0%;
        margin-top: 12px;
    }
}

@media screen and (max-width: 500px) {
    .hp-header{
      float: none;
      display: block;
     
  }
  .header-text{
    align-content: center;
    display: block;
    float: none;
  }
  .header-text a {
    color:black;
    margin-top: 3vh;
    margin-right: 1vw;
    font-size: 11pt;
  
  }
  }


@media (max-width: 850px) {
    .matrix-container {
        display: grid;
        grid-template-columns: 40%;
        margin-bottom: 20px;
        padding: 1em;
        
    }
}

.matrix-element{
    width: 25vh;
    height: 25vh;
    /* box-shadow: inset 4px 4px 10px grey, inset -4px -4px 10px grey; */
    border-radius: 3%;
    display: grid;
    grid-template-rows: 10% 80% 20%;
    align-content: center;
    justify-content: center;
    font-style:italic;
    text-align:center;
    
}
.matrix-img-container{
    height:100%;
    width: 100%;
    overflow:hidden;
    display:flex;
    align-content: center;
    justify-content: center;
    border-radius: 2%;
    
}
.matrix-img-container img{
  
    top: 0;
   
    object-fit: cover;
    width: 20vh;
    height: 20vh;
    transition-duration: 0.5s;

}
.matrix-img-container img:hover{
    transform:scale(110%);
}

.project-body {
    display: grid;
    grid-template-rows: auto;
}

.project-container {
    display: none;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-content: center;
    margin-left: 10%;
    margin-bottom: 5%;
}

.project-info {
    padding: 2vw;
}

.project-title {
    font-size: 2vw;
    padding-bottom: 2vh;
}

.project_text {
    font-size: 1vw;
    padding-bottom: 1vh;
}

.project-images{
    display:grid;
    grid-template-rows:auto;
}
.project-images img {
    height: 50vh;
}
.projectimgwrap{
    display: block;

}



.spacer{
    min-height:10vh;
}

.spacer-small{
    height: 5px;
}

.back_to_top {
    position: fixed;
    right: 0;
    bottom: 50%;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    
}


.back-to-top:hover {
    cursor: pointer;
}

.text-help{
    padding: 10px 0;
}